<%= form_for(@picture) do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div>
    <%= f.submit "Crop" %>
    <%= link_to "Cancel", @picture, method: "delete", class:"button" %>
  </div>
<% end %>
<div>
  <%= image_tag @picture.image_url, id:"cropbox", data:{
    previousImageUrl: @picture.previous_url ? @picture.previous_url : '' 
    } %>
</div>