<nav class="navigation">
  <section class="container">
    <%= link_to root_url, class: "navigation-title" do %>
      <h1 class="title">Picaday</h1>
    <% end %>
    <ul class="navigation-list float-right">
      <% if logged_in? %>
        <li class="navigation-item">
          <%= link_to "Profile", current_user, class:"navigation-item" %>
        </li>
        <li class="navigation-item">
          <%= link_to "Log out", logout_path, class:"navigation-item", method: "delete" %>
        </li>
      <% else %>
        <li class="navigation-item">
          <%= link_to "Sign up", signup_path, class:"navigation-item" %>
        </li>
        <li class="navigation-item">
          <%= link_to "Log in", login_path, class:"navigation-item" %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>